<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Prices</title>
    <style>
        table {
            width: 50%;
            margin: 50px auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center;">Latest Stock Prices</h2>
    <div style="display: flex; justify-content: center;">
        <table>
            <tr>
                <th>Stock Code</th>
                <th>Stock Name</th>
                <th>Latest Price</th>
                <th>Details</th>
            </tr>
            {% for row in stock_data %}
                <tr>
                    <td>{{ row["Stock Code"] }}</td>
                    <td>{{ row["Stock Name"] }}</td>
                    <td>{{ row["Latest Price"] }}</td>
                    <td><a href="{{ url_for('stock_detail', stock_code=row['Stock Code']) }}">View Details</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="text-align: center; margin-top: 20px; font-size: medium;">
        <a href="{{ url_for('stockquery') }}">Manual Input Stock Code</a>
    </div>
    <form action="/" method="post">
        <p><input type="submit" value="Main"></p>
    </form>
</body>
</html>